h4{
	font-family: 'Poppins', sans-serif;
	font-size-adjust: initial;
}

.dashboard .box{
    min-width: 15rem;
    height: 75%;
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    /* transition: all 0.25s ease-out; */
}

.dashboard .box:hover{
   box-shadow: 0 0 8px black;
}

.dashboard .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.dashboard .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.fa{
     color:#4183D7;
}