<app-student-header *ngIf="currentUser.role == 'Student'" userName="{{currentUser.username}}"></app-student-header>
<!-- <app-teacher-header *ngIf="currentUser.role == 'Teacher'"></app-teacher-header> -->

<div class="dashboard">
   <div class="container">
      <div class="row row-eq-height">
         <div class="col-lg-4 col-xs-12 text-center" *ngFor="let test of tests">
            <div class="box" (click)="testDetails(test.id)">
               <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
               <div class="box-title">
                  <h4>{{test.name}}</h4>
               </div>
               <div class="box-text">
                  <span>{{test.id}}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>