header {
    background-color: rgba(158, 191, 221, 0.075);
    box-shadow: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    color: white;
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
}

nav b {
    color: white;
}

nav a:hover {
    cursor: pointer;

}

nav button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4;
}

b {
    color: white;
}